
body {
    background-color:#000000;
    background:linear-gradient(45deg,#505353 40%, #030225 80%);
    text-align: center;
    color:#ffffff;
  }
  .welcome{
      padding:5%;
      color: linear-gradient(90deg,#c32626 40%, #ffffff 80%);
  }
  #home{
    background-color:#000000;
    background: linear-gradient(45deg,#505353 40%, #c32626 80%);
    background-image: url("../img/tanpurabg.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    margin-top:50px;

  }
  #home p{
      font-size:130%;
  }

  #about{
      background:#12345646;
      background-image: none;
      background-size: 100% 100%;
      padding:15%;
      padding-right:5%;
      padding-left: 5%;
      text-align:center;
  }
  .about h1{
      padding:2%;
  }
  #achievements{
      text-align:left;
      padding-top:15%;
  }
  .profile{
      width:200px;
      height: 200px;
      border-radius:50%;
      border: solid 2px #030225;
  }
  .cimage{
    height:250px;
    width:50px;
}
footer{
    background:#12345646;
    padding:2%;
  }
  footer a{
      padding:2%;
     
  }
  .fab{
      color:#030225;
  }
 .fab:hover{
     color:#070547;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform:scale(1.1);

 }
h2::first-letter{
     color:#f4ca13;
 }

@media all and (min-width: 900px){
body {
    background-color:#000000;
    background:linear-gradient(45deg,#505353 40%, #030225 80%);
    text-align: center;
    color:#fff;
    margin-top:50px;
  }
  .welcome{
      padding:5%;
      color: linear-gradient(90deg,#c32626 40%, #ffffff 80%);
  }
  #home{
    background-color:#000000;
    background: linear-gradient(45deg,#505353 40%, #2e2061 80%);
    background-image: url("../img/tamburapic.png");
    background-size: 50% 100%;
    background-repeat: no-repeat;

  }
 
  #about{
      background:#12345646;
      background-image:url("../img/violinpic.png");
      background-size: 30% 100%;
      background-position: right;
      background-repeat:no-repeat;
      padding:2%;
      padding-top:5%;
      /*border-top:solid 10px #030225;*/
     /* border-bottom:outset 5px #030225;*/
      text-align:left;
  }
  #achievements{
      text-align:left;
      padding-top:5%;
  }
  .profile{
      width:250px;
      height: 250px;
      border-radius:50%;
  }
  ul{
      list-style-image:circle;
      
  }
  .cimage{
      height:300px;
      width:100px;
  }
  footer{
    background:#12345646;
    padding:2%;
  }
  footer a{
      padding:2%;
     
  }
  .fab{
      color:#030225;
  }
 .fab:hover{
     color:#070547;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform:scale(1.1);

 }
}